{% extends 'adminTemplate/baseAdmin.html.twig' %}

{% block title %}Enseignant index{% endblock %}

{% block body %}
    <h1>Enseignant index</h1>

    <table class="table table-responsive table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>ContactCel</th>
                <th>ContactMail</th>
                <th>Username</th>
                <th>Titre</th>
                <th>TitreAbrege</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enseignant in enseignants %}
            <tr>
                <td>{{ enseignant.id }}</td>
                <td>{{ enseignant.nom }}</td>
                <td>{{ enseignant.prenom }}</td>
                <td>{{ enseignant.contactCel }}</td>
                <td>{{ enseignant.contactMail }}</td>
                <td>{{ enseignant.username }}</td>
                <td>{{ enseignant.titre }}</td>
                <td>{{ enseignant.titreAbrege }}</td>
                <td>
                    <a class="btn btn-xs btn-info" href="{{ path('enseignant_show', {'id': enseignant.id}) }}">
                        <i class="fa fa-eye red"></i>
                        Voir
                    </a>
                    <a class="btn btn-xs btn-warning" href="{{ path('enseignant_edit', {'id': enseignant.id}) }}">
                        <i class="fa fa-edit"></i>
                        Modifier
                    </a>
                    {{ include('enseignant/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('enseignant_new') }}" class="btn btn-primary btn-xs">
        <i class="fa fa-edit"></i>
        Créer un nouvel enseignant
    </a>
{% endblock %}
