{{ form_start(form) }}
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.libelle) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.libelleCourt) }}
        </div>
    </div>
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
