{% extends 'adminTemplate/baseAdmin.html.twig' %}

{% block title %}Epreuve{% endblock %}

{% block body %}
    <h1>Epreuve</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ epreuve.id }}</td>
        </tr>
        <tr>
            <th>DocumentName</th>
            <td>{{ epreuve.documentName }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ epreuve.documentMimeType }}</td>
        </tr>
        <tr>
            <th>Taille du fichier</th>
            <td>{{ epreuve.documentSize }}</td>
        </tr>
        <tr>
            <th>CreatedBy</th>
            <td class="text-primary font-weight-bold">{{ epreuve.CreatedBy.nom | upper ~ ' ' ~ epreuve.CreatedBy.prenom}}</td>
        </tr>
        <tr>
            <th>CreatedAt</th>
            <td>{{ epreuve.createdAt ? epreuve.createdAt|date('d-m-Y H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>UpdatedBy</th>
            <td class="text-success font-weight-bold">
                {% if epreuve.updatedBy is not null %}
                    {{ epreuve.UpdatedBy.nom | upper ~ ' ' ~ epreuve.UpdatedBy.prenom }}
                {% else %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>UpdatedAt</th>
            <td>
                {% if epreuve.updatedBy is not null %}
                    {{ epreuve.updatedAt ? epreuve.updatedAt|date('d-m-Y H:i:s') : '' }}
                {% else %}
                {% endif %}

            </td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ epreuve.titre }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('epreuve_index') }}"class="btn btn-default btn-xs">
        <i class="fa fa-list-alt"></i>
        Retour à la liste des épreuves</a>

    <a href="{{ path('epreuve_edit', {'id': epreuve.id}) }}"class="btn btn-warning btn-xs">
        <i class="fa fa-edit"></i>
        Modifier</a>

    {{ include('epreuve/_delete_form.html.twig') }}
{% endblock %}
